<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!--header-->
<!--  -->
<div class="banner-top">
  <div class="container">
    <h1>Single</h1>
    <em></em>
    <h2><%= link_to Spree.t(:home), spree.root_path %><label>/</label>Single</a></h2>
  </div>
</div>
<div class="single">

<div class="container">
<div class="col-md-9">
  <div class="col-md-5 grid">   
    <div class="flexslider">
        <ul class="slides">
          <%= product_image(@product, itemprop: "image", class: 'data-thumb') %>
           
              <!-- <div class="thumb-image"> <%#= product_image @product, data_imagezoom:"true", :class=>"img-responsive"%> </div>
          </li> -->
          <!-- <li data-thumb="images/si1.jpg">
               <div class="thumb-image">  </div>
          </li> -->
          <!-- <li data-thumb="images/si2.jpg">
             <div class="thumb-image"> <img src="images/si2.jpg" data-imagezoom="true" class="img-responsive"> </div>
          </li>  -->
        </ul>
    </div>
  </div>  
<div class="col-md-7 single-top-in">
            <div class="span_2_of_a1 simpleCart_shelfItem">
        <h3><%= @product.name %></h3>
        <p class="in-para"><%= @product.name %></p>
          <div class="price_single">
          <span class="reducedfrom item_price"><%= display_price(@product) %>
          </span>
         <div class="clearfix"></div>
        </div>
        <h4 class="quick">Quick Overview:</h4>
        <p class="quick_desc"><%= product_description(@product) %></p>
          <!-- <div class="wish-list">
          <ul>
            <li class="wish"><a href="#"><span class="glyphicon glyphicon-check" aria-hidden="true"></span>Add to Wishlist</a></li>
              <li class="compare"><a href="#"><span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span>Add to Compare</a></li>
          </ul>
         </div>
         <div class="quantity"> 
                <div class="quantity-select">                           
                  <div class="entry value-minus">&nbsp;</div>
                  <div class="entry value"><span>1</span></div>
                  <div class="entry value-plus active">&nbsp;</div>
                </div>
              </div>
              < -->
  <script>
    // $('.value-plus').on('click', function(){
    //   var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10)+1;
    //   divUpd.text(newVal);
    // });

    // $('.value-minus').on('click', function(){
    //   var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10)-1;
    //   if(newVal>=1) divUpd.text(newVal);
    // });
  </script>
  <!--quantity-->
         
        <%= render partial: 'cart_form' %>
      <div class="clearfix"> </div>
      </div>
    
          </div>
      <div class="clearfix"> </div>
      <!---->
      <div class="tab-head">
       <nav class="nav-sidebar">
    <ul class="nav tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">Product Description</a></li>
          <li class=""><a href="#tab2" data-toggle="tab">Properties</a></li> 
          <li class=""><a href="#tab3" data-toggle="tab"><%= Spree.t(:look_for_similar_items) %></a></li> 
    </ul>
  </nav>
  <div class="tab-content one">
<div class="tab-pane active text-style" id="tab1">
 <div class="facts">
                   
                   <%= product_description(@product) %>     
                      </div>

</div>
<div class="tab-pane text-style" id="tab2">
  
                  <div class="facts">                 
                   <%= render :partial => 'properties' %>
                      </div>  

</div>
<div class="tab-pane text-style" id="tab3">
  <div class="facts">                 
    <% if !@product.taxons.blank? %>
  <div id="taxon-crumbs" data-hook class=" five ">
    <h3 class="product-section-title"><%#= Spree.t(:look_for_similar_items) %></h3>
    <div data-hook="product_taxons">
      <ul class="list-group" id="similar_items_by_taxon" data-hook>
      <% @product.taxons.each do |taxon| %>
        <li class=""><%= link_to taxon.name, seo_url(taxon) %></li>
      <% end %>
      </ul>
    </div>

  </div>
<% end %>
                      </div>  

</div>
  </div>
  <div class="clearfix"></div>
  </div>
      <!----> 
</div>
<!----->

<div class="col-md-3 product-bottom product-at">
      <!--categories-->
        <div class=" rsidebar span_1_of_left">
           
              <%= render partial: 'spree/shared/taxonomies' %>
            
          </div>
        <!--initiate accordion-->
            <script type="text/javascript">
              $(function() {
                  var menu_ul = $('.menu-drop > li > ul'),
                         menu_a  = $('.menu-drop > li > a');
                  menu_ul.hide();
                  menu_a.click(function(e) {
                      e.preventDefault();
                      if(!$(this).hasClass('active')) {
                          menu_a.removeClass('active');
                          menu_ul.filter(':visible').slideUp('normal');
                          $(this).addClass('active').next().stop(true,true).slideDown('normal');
                      } else {
                          $(this).removeClass('active');
                          $(this).next().stop(true,true).slideUp('normal');
                      }
                  });
              
              });
            </script>
<!--//menu-->

           <!---->
           
    </div>
    <div class="clearfix"> </div>
  </div>
  </div>
      <!--brand-->
    <div class="container">
      <div class="brand">
        <div class="col-md-3 brand-grid">
          <%=image_tag "spree/frontend/ic.png" , class: "img-responsive" %>
        </div>
        <div class="col-md-3 brand-grid">
          <%=image_tag "spree/frontend/ic1.png" , class: "img-responsive" %>
        </div>
        <div class="col-md-3 brand-grid">
          <%=image_tag "spree/frontend/ic2.png" , class: "img-responsive" %>
        </div>
        <div class="col-md-3 brand-grid">
          <%=image_tag "spree/frontend/ic3.png" , class: "img-responsive" %>
        </div>
        <div class="clearfix"></div>
      </div>
      </div>
      <!--//brand-->
      </div>
      
    </div>
  <!--//content-->
   <%= render "/themes/theme1/fotter"%>
<!--script src="js/imagezoom.js"></script-->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--script defer src="js/jquery.flexslider.js"></script-->
<!--link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" /-->

<script>
// Can also be used with $(document).ready()
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide",
    controlNav: "thumbnails"
  });
});
</script>

  <!--script src="js/simpleCart.min.js"> </script-->
<!-- slide -->
<!--script src="js/bootstrap.min.js"></script-->
